@import './../../../shared/variables&mixins.scss';

.box{
    @include box;
}
table {
    width: 100%;
    margin-top: 50px;
    &.myApplicationsList{
      box-shadow: $shadow;
      width: 100%;
      padding: 0;
      .myListItem {
        font-size: 12px;
        width: 33%;
        @media (max-width:650px) {
          font-size: 10px;
        }
        @media (max-width:310px) {
          font-size: 8px;
        }
      }
    }
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: $light-gray;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
    padding-right: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
    padding-right: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    font-size: 12px;
    @media (max-width:650px) {
      font-size: 10px;
    }
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  th{
    @media (max-width:650px) {
      font-size: 10px;
    }
    @media (max-width:310px) {
      font-size: 8px;
    }
    padding-right: 0;
  }
  th.mat-header-cell:last-of-type{
    padding-right: 0;
  }
  .spinner{
    margin-top: 50px;
  }
  .name{
    font-weight: 600;
  }
  .element{
    padding: 10px 0 20px 0;
    ul{
      padding-bottom: 20px;
    }
  }
  .small{
    font-size: 12px;
    color: $second-color;
    @media (max-width:650px) {
      font-size: 10px;
    }
  }
  .red-button {
    background-color: rgb(218, 79, 79);
    margin: 20px;
    @media (max-width:660px) {
      margin: 5px;
    }
  }
  .green-button {
    background-color: seagreen;
    margin: 20px;
    @media (max-width:660px) {
      margin: 5px;
    }
  }
  .divider{
    text-align: center;
    border-top: 1px solid $light-gray;
  }
  