@import './../../../shared/variables&mixins.scss';
.detailsButton{
    margin-top: 30px;
    button {
        color: $first-color;
        @media (max-width: 600px) {
            font-size: 10px;
        }
        width: 100px
    }
}
.details {
    border-top: 1px solid $light-gray;
    @media (max-width: 600px) {
        font-size: 10px;
    }
    .apply-button {
        text-align: right;
        button {
            margin-top: 20px;
        }
    }
    
}
h3 {
    padding-top: 30px;
}
p{
    padding-top: 20px;
    color: red;
    border-top: 1px solid $light-gray;
}