@import './../../../shared/variables&mixins.scss';
.box{
    @include box;
    @media (max-width: 600px) {
        padding: 20px;
    }
    p {
        font-size: 20px;
        &.pink-text {
            color: $second-color;
        }
        @media (max-width: 600px) {
            font-size: 15px;;
        }
    }
    h2 {
        margin-bottom: 50px;
    }
}