    <main>
        <div class="box">
            <h2>Zaloguj się</h2>
            <span *ngIf="spinnerActive" class="spinner">
                <mat-progress-spinner class="spinner"
                [color]="color"
                [mode]="mode"
                [value]="value">
                </mat-progress-spinner>
            </span>
            <span *ngIf="!properData">
                Niepoprawny login lub hasło.
            </span>
            <form #authForm="ngForm" (submit)="test1()">
                <div>
                    <mat-form-field class="inputField main-input" appearance="outline">
                        <mat-label> Wprowadź swój adres e-mail</mat-label>
                        <input matInput [(ngModel)]="login1" name="login1" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="inputField main-input" appearance="outline">
                        <mat-label>Wprowadź hasło</mat-label>
                        <input required matInput [(ngModel)]="password1" name="password1" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button mat-raised-button class="main-button" type="submit">Zaloguj</button>
            </form>
        </div>
        <div class="box">
            <h2>Nie posiadasz konta? Zarejestruj się!</h2>
            <form #registerForm="ngForm" (submit)="register()">
                <div>
                    <mat-form-field class="inputField main-input" appearance="outline">
                        <mat-label>Wprowadź nazwę użytkownika</mat-label>
                        <input matInput required name="name" [(ngModel)]="name">
                    </mat-form-field>
                    <mat-form-field class="inputField main-input" appearance="outline">
                        <mat-label>Wprowadź adres e-mail</mat-label>
                        <input matInput required name="email" [(ngModel)]="email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="inputField main-input" appearance="outline">
                        <mat-label>Wprowadź hasło</mat-label>
                        <input required matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="inputField main-input" appearance="outline">
                        <mat-label>Powtórz hasło</mat-label>
                        <input required matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="c_password" name="cpassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                
                <button mat-raised-button class="main-button" type="submit">Zarejestruj się</button>
            </form>
            <a routerLink="../../userPanel" (click)="changeIsLoggedIn(true)">Zaloguj do użytkownika </a>
            <a href="../../adminPanel">Zaloguj do administratora</a>
        </div>
    </main>