<main>
    <div class="box">
        <h2>Twoje zgłoszenia</h2>
    </div>
        <mat-accordion class="my-expansion-panel">
            <mat-expansion-panel *ngFor="let item of applications">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              Status: {{checkStatusName(item)}}
              
          
              
            </mat-expansion-panel>
        </mat-accordion>
</main>