@import './../../../shared/variables&mixins.scss';
.box{
    @include box;
    margin-bottom: 40px;
    h2{
        text-align: center;
    }
}
.mat-expansion-panel{
    box-shadow: $shadow;
}
.mat-expansion-panel-header {
    padding: 40px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .name{
    }
    .date {
        font-size: 10px;
        font-style: italic;
        color: $first-color;
    }
}