<main>
    <div class="box">
        <h2>Witaj administratorze!</h2>
        <p>Dodawaj kolejne oferty pracy i przeprowadzaj rekrutację.</p>
        <p>Pod zakładką 'Oferty pracy' możesz znaleźć wszystkie dodane przez Ciebie oferty.</p>
        <p>Pod zakładką 'Nadesłane zgłoszenia' widoczne są wszystkie zgłoszenia nadesłane przez kandydatów.</p>
        <p>Wybranie najlepszego kandydata ułatwi Ci algorytm, który nadaje odpowiednią ilość punktów każdemu z kandydatów na podstawie kilku czynników.</p>
        <p>Punkty uzyskane przez kandydatów możesz znaleźć w kolumnie wynik.</p>
    </div>
</main>
