<mat-toolbar class="navbar">
    <div class="links" fxShow="true" fxHide.lt-md="true">
            <a routerLink="adminMainPage" mat-button routerLinkActive="active-link">Strona główna</a>
            <a routerLink="yourOffers" mat-button routerLinkActive="active-link">Oferty pracy</a>
            <a routerLink="addOffer" mat-button routerLinkActive="active-link">Dodaj ofertę</a>
            <a routerLink="applications" mat-button routerLinkActive="active-link">Nadesłane zgłoszenia</a>
            <div class="dropdown" >
                <a class="dropbtn" mat-button>
                    <mat-icon>person</mat-icon>
                    <mat-icon>arrow_drop_down</mat-icon>
                </a>
                <div class="dropdown-content">
                    <a mat-button (click)="logout()">Wyloguj</a>
                </div>
            </div>
    </div>
    <div class="icon-div" fxShow="true" fxHide.gt-sm="true">
        <a class="icon" (click)="sidenav.toggle()">
            <mat-icon>dehaze</mat-icon>
        </a>
    </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" class="side-nav">
        <div fxLayout="column">
                <a routerLink="adminMainPage" mat-button routerLinkActive="active-link">Strona główna</a>
            <a routerLink="yourOffers" mat-button routerLinkActive="active-link">Oferty pracy</a>
            <a routerLink="addOffer" mat-button routerLinkActive="active-link">Dodaj ofertę</a>
            <a routerLink="applications" mat-button routerLinkActive="active-link">Nadesłane zgłoszenia</a>
            <a mat-button (click)="logout()">Wyloguj</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div class="content"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
</mat-sidenav-container>