<div class="container">
    <header>
        <input placeholder="Wyszukaj ofertę" [(ngModel)]="searchInput">
    </header>
    <main>
        <ul *ngIf="jobOffers; else spinner">
            <li class="list-item" *ngFor="let item of jobOffers | search: searchInput">
                <div class="offer">
                    <div class="leftSide">{{item.name | uppercase}} </div>
                    <div class="rightSide">{{item.salary}} zł/brutto</div>
                </div>
                <app-job-details [offer]="item"></app-job-details>
            </li>
        </ul>
        <ng-template #spinner>
            <mat-progress-spinner class="spinner"
            [color]="color"
            [mode]="mode"
            [value]="value">
            </mat-progress-spinner>
        </ng-template>
    </main>
</div>

