<main>
    <div class="box">
        <h2>Skontaktuj się z nami!</h2>
        <div class="contacts">
            <div class="icon">
                <mat-icon class="myIcon">mail_outline</mat-icon>
            </div>
            <p>
                <span class="name">E-mail:</span>
                Nasza_Firma@gmail.com</p>
            <div class="icon">
                <mat-icon class="myIcon">phone</mat-icon>
            </div>
            <p>
                <span class="name">Telefon: </span>
                111 111 111</p>
            <div class="icon">
                <mat-icon class="myIcon">home</mat-icon>
            </div>
            <p>
                <span class="name">Adres: </span>
                Kraków, przykładowy adres
            </p>

        </div>
    </div>
</main>